body {
    font-family: sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: purple;
}

.background-1 {
    background: #68B0AB;
}

.background-2 {
    background: #8FC0A9;
}

.background-3 {
    background: #C8D5B9;
}

.background-4 {
    background: #FAF3DD;
}

.m-20 {
    margin: 20px;
}

.h-80 {
    height: 80px;
}

.h-400 {
    height: 400px;
}

.w-80 {
    width: 80px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-item-1 {
    flex: 1;
}
.flex-item-2 {
    flex: 2;
}
.flex-item-3 {
    flex: 3;
}
.flex-item-4 {
    flex: 4;
}

.flex-center {
    justify-content: center;  /* adjusts horizontal position*/
    align-items: center;      /* adjusts vertical position*/
}

.flex-space-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-basis-item-50 {
    flex-basis: 50%;
}

.first-item {
    order: 1;
    flex-grow: .1;
    text-align: center;
    align-content: center;
    list-style: none;
}

.second-item {
    order: 2;
    flex-grow: .1;
    text-align: center;
    align-content: center;
    list-style: none;
}

.third-item {
    order: 3;
    flex-grow: .1;
    text-align: center;
    align-content: center;
    list-style: none;
}

.fourth-item {
    order: 5;
    flex-grow: .1;
    text-align: center;
    align-content: center;
    list-style: none;
}

.fifth-item {
    order: 4;
    flex-grow: .1;
    text-align: center;
    align-content: center;
    list-style: none;
}


.flex-menu {
    justify-content: right; 
    justify-content: center;
    justify-content: space-around;
}