* {box-sizing: border-box;}
    



body{
    font-family: "Roboto Mono", monospace;
    margin: 0;
    padding: 0;
}

.page{
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 10px;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar{
    width: 97%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(195, 191, 191);
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}

.sidebar-header{
    margin: 0;
}

#job-title{
    font-size: 24px;
    font-style: italic;
    margin: 5px 0 0 0;
}

.sidebar-section h2{
    margin: 0 0 8px 0;
}

.sidebar-section a{
    font-size: 1.5vw;
}

.page-layout{
    display: flex;
    gap: 20px;
    align-items: flex-start;
    padding: 10px;
}

p{
 font-size: 18px;  
}


.card{
    background-color: rgb(195, 191, 191);
    border-radius: 5px;
    margin: 10px;
}

.card a{
    display: inline-block;
    margin-right: 5px;
    font-size: 15px;
}

a{
    font-size: 24px;
}

footer{
    position: sticky;
    bottom: 0px;
    background-color: rgb(195, 191, 191);
    border-radius: 5px;
    margin: 10px;
    font-family: "Roboto Mono", monospace;
    text-align: center;
}

@media screen and (min-width: 960px){


    .page{
        flex-direction: row-reverse;
        align-items: flex-start;
        gap: 20px;

    }

    .sidebar{
        width: 300px;
        position: sticky;
        gap: 20px;
    }

    .content {
        flex: 1;
    }
    
    .card p{
        font-size: 15px;
    }
}

img {
    display: flex;
    border-radius: 15px;
    margin: auto;
    width: 35%;
    height: 40%;
}

main{
    flex: 1;
}

